.about{
  .pics{
    width: 100%; 
    margin: 6px auto; padding: 2px;
    text-align: center;
    img{
      width: 360px;
      height: 360px;
      padding: 8px;
      display: inline;
    }
  }
  .column {
      float: left;
      width: 33.33%;
      padding: 5px;
  }
  
  .block{
    width: 400px;
    margin: auto;
    
    h2 {
      padding-top: 30px;
      padding-bottom: 30px;
      margin:0;
    }

    p {
      padding-top: 0px;
      line-height:28px;
      text-align: center;
    }
    
    p.pblack{
      color: black;
    }
    
    hr {
      width: 100%;
    }

    img {
      width: 360px;
      height: 360px;
      display: inline;
    }
  }

  .about-img {
    overflow:hidden;

    &:hover img {
      transform: scale3D(1.1,1.1,1);
    }

    img {
      opacity: .6;
      @include transition (all, 0.5s, ease-out);
    }
  }

  .section-title {
    margin-bottom: 0px;
  }
}
